.git
.git/*
lib/.bash_history
lib/index.html
lib/bower.json
lib/res
lib/res/*
lib/node_modules
lib/node_modules/*
lib/bower_components
lib/bower_components/*
lib/.sass-cache
lib/.sass-cache/*
lib/prototype3/out.mp4
lib/prototype3/out_dashinit.mp4