extends layout

block content
    div(id='time')
    div(id='container') Changed XML-file data causes Socket.IO-server to update this content.

    script(type='text/javascript', src='/js/pushNotificationClient.js')