extends layout

block content
    div(id='time')
    div(id='container') A changed xml-file causes the ws-server to update the content below.

    script(type='text/javascript', src='/js/pushNotificationClient.js')